/* Inserta tu código aqui */
body{
	font-family: 'Arvo', serif;
	margin:50px;
}
h1{
	font-size: 20px;
	margin-bottom: 10px;
	padding: 0;
}
/*creando linea bajo el h1*/
.linea{
	border-bottom:5px solid #313030;
	width: 70px;
	margin-bottom: 50px;
}
.caja{
	display: inline-block;
	margin-right: 50px;
}
.caja img{
	width: 200px;
  	-webkit-filter: brightness(50%);
}
.caja p {
	position: relative;
	margin:0;
	padding: 0;
	color: white;
	bottom: 40px;
	left: 50px;
	font-size: 15px;
	font-weight: bold;
}