/* Inserta tu código aqui */
body{
	font-family: 'Arvo', serif;
	margin:50px;
}
h1{
	font-size: 20px;
	margin-bottom: 80px;
}
.caja{
	display: inline-block;
	margin-right: 50px;
}
.caja img{
	width: 200px;
}